body {
  padding: 0;
  margin: 0;
}

h1.logo {
  font-size: 6em;
  letter-spacing: -2px;
  line-height: 0.9em;
  margin: 0;
  margin-bottom: 40px;
}

h2.logo {
  font-size: 2em;
  letter-spacing: -1.4px;
  line-height: 0.9em;
  margin: 0;
  margin-bottom: 30px;
}
